.u-price-detail {
  .u-total-price {
    display: flex;
    align-items: center;
  }

  .price-wrapper {
    display: inline-block;

    .label {
      opacity: 0.66;
      font-family: PingFangSC-Regular;
      font-size: 18px;
      color: #000000;
      letter-spacing: 1.4px;
      font-weight: 400;
    }

    .value {
      margin-left: 4px;
      font-family: PingFangSC-Semibold;
      font-size: 18px;
      color: #DA4949;
      letter-spacing: 0.29px;
      font-weight: 600;
    }
  }

  .btn-detail {
    position: absolute;
    left: 180px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #AEAEAE;
    letter-spacing: 0.78px;
    font-weight: 400;
  }

  .u-modal-price-detail {
    .at-float-layout__container {
      min-height: 400px;
      max-height: 400px;
    }

    .layout-body {
      font-size: 18px;
    }

    .item-wrapper {
      width: 100%;
      font-size: 24px;
      margin-top: 20px;

      &:first-child {
        margin-top: 0;
      }

      .summary {
        display: flex;
        justify-content: space-between;
        font-size: 20px;

        .label {
          display: inline-block;
          font-weight: bold;
          color: #000;
        }

        .value {
          display: inline-block;
          font-weight: bold;
          color: #000;
        }
      }

      .price-list {
        font-size: 16px;
        margin-top: 4px;

        &:first-child {
          margin-top: 0;
        }

        .item {
          display: flex;
          justify-content: center;
  
          .label {
            flex: 1;
          }
  
          .value {
            width: 80px;
            text-align: right;
            color: #DA4949;
          }
        }
      }
    }
  }
}
