.u-empty {
  display: flex;
  justify-content: center;
  align-items: center;

  .img {
    width: 168px;
    height: 168px;
    margin: 0 auto;
  }

  .empty-tip {
    font-size: 14px;
    color: #999999;
    text-align: center;
  }
}
