.m-index {
  .bg {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #F7F7F7;
  }

  .u-title {
    position: relative;

    .cover {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      // width: 610px;
      height: 281px;
      background-image: url('https://vip.gdxsjt.com/medias/uploads/null_mp_20220911154203_71cdb6.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }

  .item-book {
    position: absolute;
    top: 317px;
    left: 17px;
    right: 17px;
    height: 140px;
  }
}
