.u-modal-share-message {
  .at-modal__overlay {
    width: 100vw;
    height: 100vh;
  }

  .at-modal__container {
    width: 354px;
    min-height: 278px;
    
    .at-modal__header {
      color: #000000;
      font-size: 16px;
      font-weight: 600;
      
      &::after {
        display: none;
      }
    }

    .at-modal__content {
      min-height: 133px;
      // max-height: 133px;
      padding: 0 27px;
      font-size: 14px;
      color: #333333;

      &::-webkit-scrollbar {
        width: 0 !important;
      }

      .item {
        display: flex;
        align-items: center;
        height: 50px;
        line-height: 50px;
        background-color: #FFF;
        margin-top: 10px;
        margin-bottom: 16px;
        border-bottom: 1px solid #EEEEEE;
        font-size: 16px;

        &:first-child {
          margin-top: 0;
        }

        .label {
          width: 80px;
          margin-right: 20px;
          color: #333;
          text-align: left;

          &.required::after {
            content: '*';
            color: red;
            margin-left: 4px;
          }
        }

        .value {
          display: flex;
          flex: 1;
          font-size: 16px;
          display: inline-block;
        }

        .room-amount {
          display: flex;
          border: 0;

          .at-input-number__btn {
            color: #152736;
            transform: scale(0.6);
          }

          input {
            flex: 1;
            border: 0;
            font-size: 18px;
          }
        }
      }

      .info {
        width: 100%;
        height: 66px;
        padding: 7px 13px;
        box-sizing: border-box;
        border-radius: 8px;
        background-color: rgba(111, 139, 161, 0.15);
        
        .title {
          font-size: 20px;
          color:rgba(0, 0, 0, 0.66);
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .desc {
          color: #AEAEAE;
          font-size: 12px;
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .message {
        display: flex;
        align-items: center;
        margin-top: 15px;
        padding: 14px;
        border: 1px solid #CCCCCC;
        color: #999999;
        min-height: 46px;
        border-radius: 6px;
      }

    }

    .at-modal__footer {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 20px;

      &::before {
        display: none;
      }
      
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 146px;
        height: 43px;
        border-radius: 21.5px;
        font-size: 18px;
        &:first-child {
          margin-right: 4px;
          background-image: none;
          border: 1px solid #152736;
          color: #152736;
        }

        &:last-child {
          margin-left: 4px;
          background-image: linear-gradient(135deg, #6C7C89 0%, #152736 100%);
          border: 1px solid #152736;
          color: #FFFFFF;  
        }
      }
    }
  }
}
