.u-user {
  position: relative;
  margin-top: -90px;
  margin-left: 17px;
  margin-right: 17px;
  height: 94px;
  background: #FFFFFF;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
  border-radius: 8px;

  .avatar {
    position: absolute;
    top: 12px;
    left: 17px;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .if-login {
    .nickname {
      position: absolute;
      top: 23px;
      left: 102px;
      font-size: 18px;
      color: #000000;

      .id {
        margin-left: 8px;
        font-size: 14px;
        color: #999;
      }
    }

    .greeting {
      position: absolute;
      top: 56px;
      left: 102px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.66;
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #000000;
      letter-spacing: 0.93px;
      font-weight: 400;

      .icon-right {

      }
    }
  }

  .no-login {
    .tip {
      position: absolute;
      top: 36px;
      left: 102px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.66;
      font-family: PingFangSC-Regular;
      font-size: 18px;
      color: #000000;
      letter-spacing: 0.93px;
      font-weight: 400;
    }
  }

}
